<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Recomendaciones</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <!-- <link rel="stylesheet" href="css/estilo.min.css"> -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- FabIcon -->

    </head>

    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item"  >
                    <img src="https://i.pinimg.com/originals/59/24/8b/59248ba0423e83349993d9555470761f.png" 
                    width="45" height="45">
                    <h1>Recomendaciones</h1>
                </a>
            </div>
            </nav>