<div class = "card">
    <div class="card-image">
        <figure class="image" style="width: 512px">
            <img src="<%= recomendacion.img %>" alt="Placeholder image" >
        </figure>
    </div>
    
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image ">
                    <img src="https://images.vexels.com/media/users/3/153232/isolated/preview/c3bcb676107e330558ccc68f8e1cf7d5-icono-plano-del-reproductor-de-peliculas.png" alt="Placeholder image" > 
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4"><%= recomendacion.nombre %></p>
                <p class="subtitle is-6"> </p>
            </div>
        </div>
        <div class="content">
            <%= recomendacion.descripcion %>
            <p><a href="/recomendaciones/edit/<%= recomendacion.id %>"> Editar</a></p>
            <br>
        </div>
    </div>
</div> 
