html += '<div class="container">';
    html += '<div class="columns is-multiline">';
    if (data.length > 0) { 
        for (let recomendacion of data) { 
            html += '<div class="column is-one-quarter">';
                html += '<div class="card">';
                    html += '<div class="card-image">';
                        html += '<figure class="image" >';
                            html += '<img src="'+ recomendacion.img + '" alt="Placeholder image" >';
                        html += '</figure>';
                    html += '</div>';

                    html += '<div class="card-content">';
                        html += '<div class="media">';
                            html += '<div class="media-left">';
                                html += '<figure class="image is-48x48">';
                                    html += '<img src="https://images.vexels.com/media/users/3/153232/isolated/preview/c3bcb676107e330558ccc68f8e1cf7d5-icono-plano-del-reproductor-de-peliculas.png" alt="Placeholder image" > ';
                                html += '</figure>';
                            html += '</div>';
                        
                            html += '<div class="media-content">';
                                html += '<p class="title is-4">' + recomendacion.nombre + '</p>';
                                html += '<p class="subtitle is-6"> </p>';
                            html += '</div>';
                        html += '</div>';

                        html += '<div class="content">';
                            html += '' + recomendacion.descripcion + '';
                            html += '<p><a href="/recomendaciones/edit/'+recomendacion.id +'"> Editar</a></p>';
                        html += '</div>';
                    html += '</div>';
                html += '</div>';
            html += '</div>';
        } 
    } else { 
        html += '<h3>No hay recomendaciones registradas.</h3>';
    } 
    html += '</div>';
    html += '</div>';