<%- include('../includes/head.ejs') %>

<h1>Estas son tus recomendaciones</h1>
<%= code_injection %>
<% if (recomendaciones.length > 0) { %>
    <ul>
        <% for (let r of recomendaciones) { %>
            <li><%= r %></li>
        <% } %>
    </ul>
<% } else { %>
    <h2>No hay robots registrados.</h2>
    <h3>No hay robots registrados.</h3>
<% } %>

<%- include('../includes/foot.ejs') %>