<h1 class="title">Registrar nueva recomendación</h1>
<form action="/recomendaciones/nueva_recomendacion" method="POST">
    <label class="label" for="nombre">Recomendación: </label>
    <input type="text" id="nombre" name="nombre" class="input is-primary">
    <br>
    <br>
    <label class="label" for="descripcion">Descripción de la recomendacion: </label>
    <input type="text" id="descripcion" name="descripcion" class="input is-primary">
    <br>
    <br>
    <label class="label" for="img">Imagen </label>
    <input type="text" id="img" name="img" class="input is-primary">
    <br>
    <br>
    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <input type="submit"  class="button is-primary">
            <a href="/recomendaciones/" class="button is-light"> Cancelar</a>
        </p>
    </div>
</form>